body {
    background-color: black;
    text-align: center;
}
.header1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header2 {
    color: aquamarine;
    font-size: 16px;
}
.main1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    font-weight: 300;
    color: white;
}
.main2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}
.main3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    font-weight: 300;
    color: white;
}
.footer {
    text-align: right;
    color: gray;
    font-size: 21px;
}